table.inventoryTable {
    width: 100%;
    border: 2px solid #000;
    margin: 10px 0px 0px 0px;
}
table.inventoryTable th{
    font-size: 18px;
    font-weight: bold;
    text-align:  left;
    padding: 5px;
    background-color: #000;
    color: #fff;
}
table.inventoryTable th.number{
    text-align: right;
}
table.inventoryTable td{
    padding: 10px 5px;
    border-bottom: 1px solid #c0c0c0;
}

.add{
    text-align:  center;
}
.price, .inventory, .number{
    text-align: right;
}

.has-success{
    border-color: #b4d100 !important;
}
.has-error{
    border-color: #f00 !important;
}

.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 22px;
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 7px 12px;
    pointer-events: none;
}